<div class="container">
  <h1>About me</h1>
  <div class="section">
    <h2 class="section-title" (click)="clickHandler($event)">
      Информация за мен
    </h2>
    <div class="section-content">
      <p>Аз съм Божидар</p>
    </div>
  </div>

  <div class="section">
    <h2 class="section-title" (click)="clickHandler($event)">
      Моите хобита и интереси
    </h2>
    <ul class="section-content">
      <li>Програмиране</li>
      <li>Гейминг</li>
      <li>Свирене на китара</li>
      <li>Човъркане по БМВ-то</li>
      <li>Снимане и обработка на клипове</li>
      <li>Шах</li>
    </ul>
  </div>

  <div class="section">
    <h2 class="section-title" (click)="clickHandler($event)">
      Моят любим content creator
    </h2>
    <p class="section-content">
      <a href="https://www.youtube.com/@GothamChess">GothamChess</a>
    </p>
  </div>

  <div class="section">
    <h2 class="section-title" (click)="clickHandler($event)">За моя канал</h2>
    <p class="section-content">
      В моя канал, ще качвам забавни моменти. Линк към канала:
      <a href="https://www.youtube.com/channel/UCIj4lNSYW3zIomfY1t3d-kQ"
        >Batfiowoof</a
      >
    </p>
  </div>

  <div class="section">
    <h2 class="section-title" (click)="clickHandler($event)">
      Оценка на моите услуги
    </h2>
    <div class="section-content">
      <p>zabavno klip4e 1: Bazillion dollers</p>
      <p>2 zabavni klip4eta 2: Ultra Mega BAzillion dollerss</p>
    </div>
  </div>
</div>
